*{
    list-style: none;
}

a.nav-item.nav-link.active{
    color: goldenrod;
    font-weight: bold;
}

.title-link.active {
    color: inherit !important;
    font-weight: normal !important;
}

.navbar-nav {
    align-items:center;
}

