*{
    list-style: none;
}

ul{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.active{
    color: goldenrod;
    font-weight: bold;
    text-decoration: underline;
}

